@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;1,100;1,500&family=Barlow+Semi+Condensed:wght@400;500;600&family=Cabin+Condensed:wght@400;500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald&family=Permanent+Marker&family=Poppins:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #949292;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: "Oswald", sans-serif;
}
#navHeader {
    background-color: #4b7514;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}
#navHeader li{
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
}
#navHeader li a{
    color: #fff;
    text-decoration: none;
}
#navHeader li:hover {
    color: #4cada5; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
    transition: color 0.3s, text-decoration 0.3s;
}
#navHeader li a:hover {
    color: #59918cd7; /* Change color on hover */
}
.about-me{
    background-color: rgba(209, 236, 223, 0.575);
    height: auto;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 160px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    line-height: 1.5;   
}
.about-me:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    background-color: #9bc2dac7;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
p{
    margin: 10px 0;
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}
h4{
    color: #333;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 24px;
}
.about-me ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}
.about-me li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
    line-height: 1.5;
}
.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    
}
.footer p{
    margin: 0;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}