@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;1,100;1,500&family=Barlow+Semi+Condensed:wght@400;500;600&family=Cabin+Condensed:wght@400;500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald&family=Permanent+Marker&family=Poppins:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #929492;
    color: #333;
    line-height: 1.6;
    padding-top: 60px; /* Space for fixed header */
    font-family: "Oswald", sans-serif;
    
}
#navHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #5d887f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 60px;

}
#navHeader li{
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
}
#navHeader a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#navHeader a:hover {
    color: #bb3360; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
    transition: color 0.3s, text-decoration 0.3s;
}
.contact-section {
    background-color: rgba(209, 236, 223, 0.575);
    height: auto;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 160px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 500;

}
.contact-section li{
    margin: 10px 0;
    list-style-type: none;
}
svg {
    width: 30px;
    height: 40px;
    fill: #5d887f;
    margin-right: 8px;
    transition: fill 0.3s ease;
    justify-content: center;
    margin-bottom: 0px;
    display: inline-block;
}
