*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.currency-container{
    max-width: 600px;
    width: auto;
    margin: 50px auto;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(10, 0, 8, 0.9);
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    text-align: center;
    color: #333;
    line-height: 1.8;
    text-decoration: underline;
    margin-bottom: 10px;
    text-shadow: 0 7px 2px rgba(4, 0, 0, 0.1);
}
#userAmount,#fromCurrency,#toCurrency{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
#userAmount:focus,
#fromCurrency:focus,    
#toCurrency:focus{
    border-color: #ce2a97;
}
label{
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}
option{
    padding: 10px;
    font-size: 16px;
    color: #333;
}
#error{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
#result{
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
#convertBtn{
    width: 100%;
    padding: 10px;
    background-color: #df46f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#convertBtn:hover{
    background-color: #9a0b9f;
    transition: background-color 0.3s ease;
}