*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oswald", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.dog-containner{
    max-width: 600px;
    width: auto;
    margin: 50px auto;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(10, 0, 8, 0.9);
    justify-content: center;
    text-align: center;

}
h1{
    text-align: center;
    color: #333;
    line-height: 1.8;
    text-decoration: underline;
    margin-bottom: 8px;
}
#getAnotherDogBtn{
    width: 50%;
    padding: 10px;
    background-color: #b3ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
}
#getAnotherDogBtn:hover{
    background-color: #3af800;
}
.dog-image{
    width: 100%;
    height: auto;
    max-height: 600px;
    border-radius: 0 25px;
    margin-bottom: 10px;
}
.error{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.loading{
    text-align: center;
    font-size: 18px;
    color: #6ddf10;
}
p{
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    line-height: 1.6;
    text-align: center;
    font-weight: bold;
}