body{
  display:flex;
  height:100vh;
  align-items:center;
  justify-content:center;
}
.space{
  width:200px;
  height:200px;
  position:relative;
}
.earth{
  position:absolute;
  width:100px;
  height:100px;
  top:50%;
  left:50%;
  background-color:grey;
  transform:translate(-50%, -50%);
}
.orbit{
  width:200px;
  height:200px;
  position:absolute;
  transform:translate(-50% -50%);
  border:50%;
  animation:orbit 5s linear infinite;
}
.moon{
  position:absolute;
  width:30px;
  height:30px;
  background-color: blue;
  border-radius:50%;
}
@keyframes orbit{
  0%{
    transform:rotate(0deg) translate(-50%, -50%);
  }
  100%{
    transform:rotate(360deg) translate(-50%, -50%);
  }
}