@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;1,100;1,500&family=Barlow+Semi+Condensed:wght@400;500;600&family=Cabin+Condensed:wght@400;500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald&family=Permanent+Marker&family=Poppins:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(95, 148, 148);
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-image: url('https://media.istockphoto.com/id/1497682398/photo/abstract-graphic-digital-world-map-with-connections-on-modern-computer-background.jpg?s=1024x1024&w=is&k=20&c=dd-U4jyRkfA899ryy4m7l6sL-EAtQTDLQRq17kOoB8c=');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Oswald", sans-serif;
}
#navHeader {
    background-color: rgba(0, 0, 0, 0.815);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
#navHeader a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s ease;
    display: flex;
}
#navHeader a:hover {
    color: #9bc2da;
    text-decoration: underline;
    cursor: pointer;
}

#navHeader  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.portfolio{
    background-color: rgba(209, 236, 223, 0.575);
    height: auto;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 160px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 160px;
}
.portfolio:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    background-color: #9bc2dac7;
}
p{
    line-height: 1.5;
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: 500;
}
h1, h2, h3 {
    text-align: center;
    color: #333;
    margin: 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    
}
#sirName {
    color: #386783;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
    font-style: italic;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;

}
#sirName:hover {
    color: #1a4d6d;
    text-decoration: none;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    bottom: 0;
    position: relative;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}
