*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    
}
.quote-container{
    max-width: 600px;
    width: auto;
    margin: 50px auto;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
    color: #333;
    line-height: 1.8;
    text-decoration: underline;
    margin-bottom: 10px;
}
.buttons button{
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.buttons button:hover{
    background-color: #0056b3;

}
#quoteInfo{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #555;

}
#quoteAuthor{
    font-weight: bold;
    color: #007BFF;
    margin-top: 10px;

}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

}
.error{
    color: red;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}
.loading{
    font-size: 18px;
    color: #59c279;
    text-align: center;
    margin-top: 20px;
}