@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;1,100;1,500&family=Barlow+Semi+Condensed:wght@400;500;600&family=Cabin+Condensed:wght@400;500;600&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald:wght@300&family=Permanent+Marker&family=Poppins:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: lightgrey;
    font-family: "Cabin Condensed", sans-serif;
}
h1{
    color: bisque;
}
.shopping{
    padding: 20px;
    margin: 300px;
    background-color: dimgrey;
    border: none;
    border-radius: 20px;
    width: 600px;
    height: auto;
    
}
#shoppingName,#shoppingCategory,#shoppingList,#addShopping{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}
#addShopping:hover{
    cursor: pointer;
    background-color: lightgrey;
    color: #fff;
}
.display-shopping-list{
    border: 2px dashed maroon;
    padding: 10px;
    margin: 10px;
    color: #c4acac;
    border-radius: 10px;
}

@media(width<390px){
    body{
        background-color: yellowgreen;
        margin: 20px;
    }
    .shopping{
        width: 340px;
        margin: 20px;
        padding: 10px;

    }
}
