@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;1,100;1,500&family=Barlow+Semi+Condensed:wght@400;500;600&family=Cabin+Condensed:wght@400;500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald&family=Permanent+Marker&family=Poppins:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #949292;
    color: #333;
    font-family: "Oswald", sans-serif;
    line-height: 1.6;
    padding-top: 60px; /* Space for fixed header */

}
#navHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #4b3e05;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
#navHeader > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#navHeader li {
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    
}
#navHeader li a {
    color: #fff;
    text-decoration: none;
}
#navHeader li:hover {
    color: #549e98; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
    transition: color 0.3s, text-decoration 0.3s;

}

#navHeader li a:hover {
    color: #59918cd7; /* Change color on hover */
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
p{
    margin: 10px 0;
    font-size: 20px;
    color: #555;
    line-height: 1.5;
    text-align: justify; 
    padding: 0 20px;
    font-weight: 400;

}
.skills{
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0,0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    line-height: 2;

}
.skills li{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;

}
#skillField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    color: #333;

}
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #fff;
}
.footer p{
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}
