*{
    box-sizing: border-box;
}
#toggleBtn{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #64be67;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}
#toggleBtn:hover{
    background-color: #45a049;
    cursor: pointer;
    color: #fff;
}
body{
    padding: 0px;
    margin: 100px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    transition: all 0.3s ease;

}
#quizContainer{
    width: auto;
    height: auto;
    border: none;
    border-radius: 14px;
    background-color: darkgrey;
    padding: 12px;
    margin: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;

}
#question{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}
.correct{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.wrong{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: auto;
}
#restartBtn{
    border: none;
    padding: 10px;
    border-radius: 12px;
    width: auto;
    height: auto;
    background-color: chartreuse;
    display: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 100%;
    max-width: 200px;
}
#restartBtn:hover{
    background-color: rgb(82, 219, 18);
    cursor: pointer;
    color: black;
    font-size: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    height: auto;
}
#nextBtn{
    border: none;
    padding: 10px;
    border-radius: 12px;
    width: auto;
    height: auto;
    background-color: coral;
    display: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px;
}
#nextBtn:hover{
    background-color: brown;
    cursor: pointer;
    color: whitesmoke;
}
#choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
}
#choices button{
    text-align: left;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
#choices button:hover{
    cursor: pointer;
    background-color: darkolivegreen;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}
#score{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}
/*responsive design*/
@media (width < 600px) {
    body {
        margin: 20px;
        background-color: #466388;
        font-family: 'Arial', sans-serif;
        color: #333;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    #quizContainer {
        width: 100%;
        padding: 10px;
        background-color: #35508b;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Arial', sans-serif;
        color: #333;
        font-size: 16px;
    }
    h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
        color: #b1a4a4;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;


    }
    #question, #score {
        font-size: 18px;
        margin: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;
        max-width: 500px;
    }
    #choices button {
        font-size: 16px;
        padding: 8px;
        margin: 5px;
        border-radius: 10px;
        background-color: #fff;
        color: #333;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 100%;
        max-width: 500px;
    }
}

@media (width > 1024px) {
    body {
        margin: 50px;
        background-color: #5fb191;
        font-family: 'Arial', sans-serif;
        color: #333;
        padding: 20px;
        font-size: 18px;
        line-height: 1.6;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    #quizContainer {
        width: 80%;
        padding: 15px;
        background-color: #58928a;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Arial', sans-serif;
        color: #333;
        font-size: 20px;

    }
    h1 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

    }
    #question, #score {
        font-size: 20px;
        margin: 15px;
        padding: 12px;
        border: 2px solid #ccc;
        border-radius: 12px;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;
        max-width: 800px;

    }
    #choices button {
        font-size: 18px;
        padding: 10px;
        margin: 10px;
        border-radius: 12px;
        background-color: #fff;
        color: #333;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 100%;
        max-width: 800px;
        
    }
}